<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Coder Confessions</title>

    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='styles/styles.css'>

    <!-- VENDOR SCRIPTS -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js'></script>

    <!-- APPLICATION SCRIPTS -->
    <script src='scripts/app.js'></script>

  </head>
  <body>

    <!-- Start of rendered confessions -->
    <div class='jumbotron'>
      <div class='container'>
        <div id='confessions'>
          <script id='confession-template' type='text/x-handlebars-template'>
            <!-- One confession -->
            <div class='row-of-confession'>
              <div class='col-md-10'>
                <form class="form-inline" id="{{_id}}" data-alias-id="{{../aliasId}}" >
                  <ul>
                    <li class='list-group-item'>
                      <span class='alias-name'><strong>{{name}}:</strong> {{#each confessions}}
                        {{submission}}<div class='form-group'><button class='deleteSubmission btn btn-danger' data-submission-id="{{_id}}"><b>x</b></button></div><button class='btn btn-info edit-submission'>Edit</button>
                      </span>
                        {{/each}}
                      <button type='button' name='button' class='deleteAlias btn btn-danger pull-right' data-id="{{_id}}">Delete</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
  <!-- End of rendered confessions -->

  <!-- Star of Forms -->
  <section class='container'>
    <form class='form-horizontal' id='confession-form'>
      <section class='container'>
        <!-- Form Name -->
        <legend>Add Anonymous Confession</legend>
          <fieldset>
            <div class='row alias-email-forms'> <!-- Start of div row alias-email-forms class -->
              <div class='col-md-6'>
                <h3>Alias</h3>
                <!-- Alias text input -->
                <div class='alias-email-group'>
                 <div class='col-md-9'>
                   <input id='alias' name='name' type='text' placeholder='Stay anonymous (optional)' class='form-control input-md'>
                  </div>
                </div>
              </div>

              <div class='col-md-6'>
                <h3>Email</h3>
                <!-- Email text input -->
                <div class='alias-email-group'>
                  <div class='col-md-12'>
                    <input id='email' name='emailAddress' type='text' placeholder='Get your confession(s) emailed to you in 1 year (optional)' class='form-control input-md'>
                  </div>
                </div>
              </div>
            </div> <!-- End of div row alias-email-forms class -->

            <div class='row confession'> <!-- Start of row confession -->
              <div class='col-md-5 col-md-offset-5'>
                <h3>Confession</h3>
              </div>

              <div class='col-md-5 col-md-offset-3'>
                <!-- Confession text input -->
                <div class='confession-form-group'>
                  <div class='col-lg-12'>
                    <input id='confession' name='confession' type='text' placeholder='Type in confession' class='form-control input-md' required=''>
                  </div>
                </div> <!-- End of confession text input -->

                <!-- Submit Button -->
                <div class='submit-form-group'>
                  <div class='col-md-4'>
                    <button id='singlebutton' name='singlebutton' class='btn btn-primary'>Submit Confession</button>
                  </div>
                </div>
              </div>
            </div> <!-- End of row confession -->
          </fieldset>

      </section>
    </form>
  </section>

    <!-- Edit Submission Modal - this is not visible until you call .modal() on it -->
    <div class="modal fade bs-modal-lg" id="editSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="editSubmissionModalTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close edit-submission" data-dismiss="modal" aria-label="Close" data-aliasId={{../_id}}><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editSubmissionModalTitle">Edit Submission</h4>
          </div>
          <div class="modal-body" id='editSubmissionModalBody'>
            <p> REPLACE #editSubmissionModalBody </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='editSubmissionModalSubmit'>Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </body>
</html>
