h1 {
  color: white;
  padding: 1px;
  position: relative;
  margin-left: 32%;
}

h3 {
  position: relative;
  margin: auto;
}

.jumbotron  {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #00001C;
}

.container {
  height: 350px;
  margin-bottom: 1px;
}

.confession {
  margin-top: 2%;
}

.list-group-item {
  margin-left: 18%;
  padding-left: 20px;
  padding-right: 20px;
}

#confession {
  height: 100px;
}

#submitConfession {
  width: 430px;
  margin-left: auto;
}

#confessionTitle {
  margin-left: 41%;
}

#alias {
  position: relative;
  left: 0%;
}

#email {
  position: relative;
  margin-left: 0%;
}
